<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all Reports</title>
</head>

<body>
    <h1>View all Reports</h1>

    <table>
        <tr>
            <th>Report ID</th>
            <th>Report Title</th>
            <th>Report Description</th>
            <th>Report Date</th>
            <th>Report Status</th>
            <th>Report Location</th>
        </tr>
        <% reports.forEach(function(report) { %>
            <tr>
                <td>
                    <a href="view_full_report?id=<%= report.report_id %>">
                        <%= report.report_id %>
                    </a>

                </td>
                <td>
                    <%= report.title %>
                </td>
                <td>
                    <%= report.description %>
                </td>
                <td>
                    <%= report.timestamp %>
                </td>
                <td>
                    <%= report.status %>
                </td>
                <td>
                    <%= report.location %>
                </td>

            </tr>
            <% }); %>
</body>

</html>